export PLONE_EXTENSION_IDS=plone.app.caching:default,plonetheme.barceloneta:default,imio.smartweb.policy:default
export DEFAULT_LANGUAGE=fr
export ACTIVE_BIGBANG=True
export RELSTORAGE_DB=zope
export RELSTORAGE_HOSTNAME=db
export RELSTORAGE_PASSWORD=zope
export RELSTORAGE_PORT=5432
export RELSTORAGE_USER=zope
export application_id=iA.Smartweb
export keycloak_admin_user=admin
export keycloak_admin_password=
export keycloak_realm=belleville-ac
export keycloak_url=https://keycloak.cloud.imio-test.be/
export keycloak_client_id=smartweb-local
export keycloak_client_secret=
export keycloak_issuer=https://keycloak.cloud.imio-test.be/realms/belleville-ac/
export keycloak_redirect_uris=[http://localhost:8080/Plone/acl_users/oidc/callback]
export DIRECTORY_URL="https://annuaire.staging.imio.be"
export EVENTS_URL="https://agenda.staging.imio.be"
export NEWS_URL="https://actualites.staging.imio.be"
export WCA_URL="https://keycloak-apps.cloud.imio-test.be/realms/sources-authentiques/protocol/openid-connect/token"
export RESTAPI_DIRECTORY_CLIENT_ID="annuaire"
export RESTAPI_DIRECTORY_CLIENT_SECRET=""
export RESTAPI_EVENTS_CLIENT_ID="agenda"
export RESTAPI_EVENTS_CLIENT_SECRET=""
export RESTAPI_NEWS_CLIENT_ID="actualites"
export RESTAPI_NEWS_CLIENT_SECRET=""