export PLONE_EXTENSION_IDS=plone.app.caching:default,plonetheme.barceloneta:default,imio.smartweb.policy:default
export DEFAULT_LANGUAGE=fr
export ACTIVE_BIGBANG=True
export RELSTORAGE_DB=zope
export RELSTORAGE_HOSTNAME=db
export RELSTORAGE_PASSWORD=zope
export RELSTORAGE_PORT=5432
export RELSTORAGE_USER=zope
export service_ou=0841470248
export service_slug=local-iasmartweb
export consumer_key_agents=6ccfcf9c-f587-4bf1-9491-b31382a4d461
export consumer_secret_agents=bfb6e1e6-a6e1-48fe-a44c-9cab652bb0db
export consumer_key_usagers=bbf4ea93-4356-49d6-9ede-bc536d6b306f
export consumer_secret_usagers=83961cb7-63a4-44f0-b3df-ccb5d457dd6b
export authentic_usagers_hostname=usagers.staging.imio.be
export authentic_agents_hostname=agents.staging.imio.be
export application_id=iA.Smartweb
export keycloak_admin_user=admin
export keycloak_admin_password=25a5d1dfad1c46c9b9746d99d7d592e8
export keycloak_realm=imio
export keycloak_url=https://keycloak.cloud.imio-test.be/
export keycloak_client_id=smartweb-localhost
export keycloak_client_secret=
export keycloak_issuer=https://keycloak.cloud.imio-test.be/realms/imio/
export keycloak_redirect_uris=[http://localhost:8080/Plone/acl_users/oidc/callback]
