export PLONE_EXTENSION_IDS=plone.app.caching:default,plonetheme.barceloneta:default,imio.smartweb.policy:default
export DEFAULT_LANGUAGE=fr
export ACTIVE_BIGBANG=True
export RELSTORAGE_DB=zope
export RELSTORAGE_HOSTNAME=db
export RELSTORAGE_PASSWORD=zope
export RELSTORAGE_PORT=5432
export RELSTORAGE_USER=zope
export service_ou=0841470248
export service_slug=local-iasmartweb
export consumer_key_agents=6ccfcf9c-f587-4bf1-9491-b31382a4d461
export consumer_secret_agents=bfb6e1e6-a6e1-48fe-a44c-9cab652bb0db
export authentic_usagers_hostname=
export authentic_agents_hostname=agents.staging.imio.be

