keycloak_realm=
keycloak_url=
keycloak_client_id=
keycloak_client_secret=
keycloak_issuer=
application_id=
ADMIN_PASSWORD=admin
WEBSITE_HOSTNAME=portal.localhost
RELSTORAGE_DB=smartweb_demo
RELSTORAGE_HOSTNAME=db
RELSTORAGE_PASSWORD=
RELSTORAGE_PORT=5432
RELSTORAGE_USER=smartweb_demo
consumer_key_agents=
consumer_secret_agents=
