.installed.cfg
.mr.developer.cfg
.plone.versioncheck.tracked.json
bin/
develop-eggs/
include/
lib/
parts/
src/
buildout.cfg
tmp/
build-stamp
debian/
debian.ini
var/
upgrade.log
buildout-cache/
Extensions/*
share/
.tags
pip-selfcheck.json
local/
.env
nginx.conf
rsync.sh
lib64
pyvenv.cfg
eggs/
