*.egg-info
*.log
*.mo
*.py?
*.swp
# dirs
.vscode/
.tox/
bin/
buildout-cache/
devel/
develop-eggs/
dist/*
eggs/
htmlcov/
include/
lib/
lib64/
local/
node_modules/
parts/
reports/
share/
src/
var/
# files
.coverage
.installed.cfg
.mr.developer.cfg
Gruntfile.js
buildout.cfg
coverage.json
log.html
output.xml
package.json
package-lock.json
pip-selfcheck.json
pyvenv.cfg
report.html
